.square-gallery *{
	margin:0;
	padding:0;
}
.square-gallery{
	padding:0;
}
/* clearfix for floating elements - not for IE6/7/8 */
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *	contenteditable attribute is included anywhere else in the document.
 *	Otherwise it causes space to appear at the top and bottom of elements
 *	that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *	`:before` to contain the top-margins of child elements.
 */
.square-gallery:before,
.square-gallery:after{
	content: " "; /* 1 */
	display: table; /* 2 */
	clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.square-gallery{
	*zoom: 1;
}

.tile{
	width:12.5%;/* 1/8 */
	padding-bottom:12.5%;
	height: 0;
	overflow:hidden;
	float:left;
	background:#fff;
	position:relative;
}
.tile img{
	width:100%;
	border:none;
	display:block;
	-webkit-transition:margin 600ms;
	transition:margin 600ms;
}
.tile img.slide{
	margin-top:-100%;
}
.tile:hover img{
	-webkit-filter:grayscale(60%) brightness(0.85);
	-o-filter:grayscale(60%) brightness(0.85);
	-moz-filter:grayscale(60%) brightness(0.85);
	filter:grayscale(60%) brightness(0.85);
}
.tile .zoom{
	display:block;
	text-decoration:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	visibility:hidden;
	background:url(../IMAGES/zoom.png) no-repeat center;
	z-index:1000;
}
.tile:hover .zoom{
	visibility:visible;
}

@media screen and (max-width: 800px){
	.tile{
		width:25%;/* 1/4 */
		padding-bottom:25%;
	}
}
@media screen and (max-width: 450px){
	.tile{
		width:50%;/* 1/2 */
		padding-bottom:50%;
	}
}
